<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Created at</th>
        <th>Setting</th>
    </tr>
    <% @condition.each do |condition| %>
    <tr>
        <td><%= condition.id %></td>
        <td><%= condition.title %></td>
        <td><%= condition.description %></td>
        <td><%=l condition.created_at %></td>
        <td>
            <button class = "btn btn-mini"><%= link_to "Edit", edit_condition_path(condition) %></button>
            <button class = "btn btn-mini btn  btn-mini btn-danger"><%= link_to "Delete", condition_path(condition), method: :delete, data: { confirm: 'Are you sure?'} %></button>
        </td>
        <% end %>
    </tr>
</table>
