<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Created at</th>
        <th>Setting</th>
    </tr>
    <% @condition.each do |condition| %>
    <tr>
        <td><%= condition.title %></td>
        <td><%= condition.description %></td>
        <td><%=l condition.created_at %></td>
        <td>
            <%= button_to "Edit", edit_condition_path(condition), :method => :get, :class => "btn btn-mini btn-primary" %>
            <%= button_to "Delete", condition_path(condition), method: :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-primary btn-mini" %></button>
        </td>
     </tr>   
    <% end %>
    </tr>
</table>
