<div class="headinglog">
    <h2>Fill details Here</h2>
    <%= simple_form_for @seeker do |f| %>
    
      <div>
          <%= f.label :Name  %>
          <%= f.text_field :firstname, title: "Enter your First name" %>
          <%= f.text_field :lastname, title: "Enter your Lastname" %>
      </div>
      <div>
          <%= f.label :Email %>
          <%= f.email_field :email, title: "Enter your valid Email" %>
      </div>
      <div>
          <%= f.label :Contact%>
          <%= f.text_field :contact, title: "Enter contact number" %>
      </div>
      
      <div>
          <%= f.label :Gender %>
          <%= f.label(:male, "Male") %><%= f.radio_button(:gender, "male") %>
          <%= f.label(:female, "Female") %><%= f.radio_button(:gender, "female") %>
      </div>
      <div>
          <%= f.label :birth, "Date of Birth" %>
          <%= f.date_field :birth %>
      </div>
      <div>
          <%= f.label :localaddress, "Local Address" %>
          <%= f.text_area :localaddress, title: "Enter your Local Address" %>
      </div>
      <div>
          <%= f.label :permanentaddress, "Local Address" %>
          <%= f.text_area :permanentaddress, title: "Enter your Permanent Address" %>
      </div>
      <div>
          <%= f.submit "Save", :class => 'btn btn-primary' %>
      </div>
 <% end %> 
</div>    
