<h1>Editing Job</h1>
 
<%= simple_form_for @opening, url: opening_path(@opening), method: :patch do |f| %>
 
  <div><%= f.label :Title %>
  <%= f.text_field :title %></div>

  <div><%= f.label :Type %>
  <%= f.select(:jtype, options_for_select([['Fresher', 'Fresher'], ['Experience', 'Experience']])) %>

  <div><%= f.label :Description %>
  <%= f.text_area :description %></div>
  
  <%= f.association :conditions, as: :check_boxes %>
  
  <%= f.submit "Update", :class => 'btn btn-primary' %>

</div>
<% end %>
