<table  class="table table-striped">
    <tr>
       
        <th>Title</th>
        <th>Type</th>
        <th>Detail</th>
        <th>Created At</th>
        <th>Settings</th>
    </tr>   
    <% @opening.each do |opening| %>
    <tr>
       
        <td><%= opening.title %></td>
        <td><%= opening.jtype %></td>
        <td><%= opening.description %></td>
        <td><%=l opening.created_at %></td>
        <td>
            <%= button_to "Edit", edit_opening_path(opening), :method => :get, :class => 'btn btn-mini btn-primary' %>
            <%= button_to "Delete", opening_path(opening), method: :delete, data: { confirm: 'Are you sure?'} , :class => "btn-mini  btn-primary"%>
        </td>
    </tr>
    <% end %>
</table>

