<div class="headinglog">
<h3>Make  the current opening here</h3>

<%= simple_form_for @opening do |f| %>
 
 <div>
  <%= f.label :Title %>
  <%= f.text_field :title %>
 </div>

 <div>
  <%= f.label :Type %>
  <%= f.select(:jtype, options_for_select([['Fresher', 'Fresher'], ['Experience', 'Experience']])) %>
 </div>

 <div>
  <%= f.label :Description %>
  <%= f.text_area :description %>
 </div>
 
 <%= f.association :conditions, as: :check_boxes %>
 
 <%= f.submit "Create", :class => 'btn btn-primary' %>

<% end %>
</div>
